@charset "UTF-8";

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
}

.name {
  text-align: center;
  color: blue;
  font-size: 1.5em;
  line-height: 0.65em;
}

.header {
  text-align: center;
  line-height: 1.25em;
  font-size: 1em;
}

.profileimage {
  position: static;
  /* right: 25px; */
  /* top: 10px; */
  /* float: left; */
  /* max-width: 26%; */
  width: 35vh;
}

.dirheader {
  font-size: 1.5em;
  line-height: 0.4em;
  color: green;
}

.direntries {
  font-size: 1.1em;
  line-height: 1.25em;
}

footer {
  position: relative;
  height: 220px;
  width: 100%;
}

p.copyright {
  position: absolute;
  width: 100%;
  line-height: 40px;
  text-align: center;
  bottom: 0;
}

@media (min-width: 0px) and (max-width: 999px) {
  /* .profileimage { */
  /*   width: 35vh; */
  /*   max-width: 40%; */
  /* } */

  .direntries {
    font-size: 1.1em;
    line-height: 1.25em;
  }
}
